{% set leafs = groups['leaf'] + groups['bleaf'] %}
{% for id, peer in vpc_pairs.iteritems() %}
{% if inventory_hostname in peer %}
{% if inventory_hostname in leafs %}
{% set vpcid = id %}
{% set index = peer|length %}
vpc:
  domain: {{ vpc.domain }} 
  priority: {{ vpc.priority }}
  system_priority: {{ vpc.system_priority }}
  po_id: {{ vpc.po_id }}
  po_mode: {{ vpc.po_mode }}
  vrf: {{ vpc.vrf }}
  peer_gw: {{ vpc.peer_gw }}
  auto_recovery: {{ vpc.auto_recovery }}
  delay_restore: {{ vpc.delay_restore }}
{% for pointer in range(0,index) %}
{% if peer[pointer] == inventory_hostname %} 
  vpc_src: {{ vpc_link[vpcid][pointer]["ip"] }}
  vpc_src_mask: {{ vpc_link[vpcid][pointer]["mask"] }}
{% else %} 
  vpc_dst: {{ vpc_link[vpcid][pointer]["ip"] }}
  vpc_peer: {{ peer[pointer] }}
{% endif %}
{% endfor %}
  vlan: {{ vpc.vlan }}
  vpc_interfaces:
{% for vpc_interfaces in vpc_interfaces[inventory_hostname] %}
    - {{ vpc_interfaces|replace("Eth", "Ethernet") }}
{% endfor %}
  nve_loopbacks:
    - interface: {{ underlay["nve_loopbacks"][0]["interface"] }}
      ipaddress_secondary: {{ vtep_anycast[vpcid]["ip"] }}
      mask: {{ vtep_anycast[vpcid]["mask"] }}
{% endif %}
{% endif %}
{% endfor %}

