vtep_anycast:
{% for i in range(0, generate_vtep_anycast_subnets.nbr_networks ) %}
{% set network = generate_vtep_anycast_subnets.network_pool | ipsubnet(generate_vtep_anycast_subnets.network_size, i) %}
{% if generate_vtep_anycast_subnets.network_size == 32 %}
  {{ i }}: { "ip": {{ network | ipaddr('address') }}, "mask": {{ generate_vtep_anycast_subnets.network_size|string }} }
{% endif %}
{% endfor %}
